.footerStyle {
    background-color: var(--sjw-theme-900);
    color: var(--sjw-footer-font-color);
}

.footerStyle a {
    color: var(--sjw-theme-200);
}

.footerStyle a:hover{
    color: var(--sjw-theme-core);
}

.bi {
    font-size: 1.5rem;
    padding-inline-start: .5rem;
}

