<div class="p-3 footerStyle text-light" >
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center g-3">
            <div class="col text-md-start order-last order-md-first">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">Built by</span>
                        <span><img src="\img\white_logo_2.png" height="40" /></span>
                    </div>
                    <div class="col-12">

                        &copy; @DateTime.Now.Year All rights reserved
                    </div>

                </div>
            </div>
            <div class="col text-center">
                <div class="d-flex align-items-center justify-content-center flex-wrap gap-1">
                    @* placehold img--change out with every project *@
                    <img src="/img/movieprowonderlogo680.png" height="50" />

                </div>
            </div>
            <div class="col-md-end">
                <div class="row">
                    <div class="col-12 me-4">
                        <a href="www.linkedin.com/in/shellywonder" target="_blank" title="SJ's LinkedIn">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://github.com/ShellyWonder" target="_blank" title="SJ's GitHub">
                            <i class="bi bi-github"></i>
                        </a>
                        @* <a href="https://www.instagram.com/">
                        <i class="bi bi-instagram"></i>
                        </a> *@
                        <div class="col-12 me-2 sjLinks p-2">
                            <a href="#" target="_blank" title="SJ's Bug Tracker Project">
                                Atlas Tracker
                            </a>
                            &bull;
                            <a href="#" target="_blank" title="SJ's Open AI Project">
                                My AI Cookbook
                            </a>
                            &bull;
                            <a href="www.wonderwebdev.com" target="_blank" title="SJ's Portfolio">
                                Portfolio
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
